.footer
{
    margin-top: $gap*3;
    // padding-left: $gap*15;
    // padding-right: $gap*15;
    padding-top: $gap*3;

    background-color: $color-dark;
    &__article p
    {
        color: lighten($color-dark, 30%);
    }
    &__article h4
    {
        font-size: 18px;
        font-weight: 500;
        line-height: $gap;

        color: #fff;
    }

    &__article ul
    {
        padding: 0;

        list-style: none;
    }
    &__article a
    {
        color: darken($color-gray, 40%);
        &:hover
        {
            color: lighten($color-gray, 14%);
        }
    }

    &__row
    {
        padding-bottom: $gap;

        text-align: left;
    }

    & .container-fluid
    {
        max-width: 1170px;
    }
};


.footer-bottom
{
    padding-top: $gap;
    padding-bottom: $gap;

    text-align: center;
    & h4
    {
        font-weight: 600;

        color: darken($color-light, 20%);
    }
};
